.markdown-body {
  font-size: 11px;
  h1 {
    --pico-font-size: 1.4rem;
    --pico-typography-spacing-top: 1.8rem;
  }
  h2 {
    --pico-font-size: 1.2rem;
    --pico-typography-spacing-top: 1.6rem;
  }
  h3 {
    --pico-font-size: 1.0rem;
    --pico-typography-spacing-top: 1.4rem;
  }
  h4 {
    --pico-font-size: 0.8rem;
    --pico-typography-spacing-top: 1.2rem;
  }
  h5 {
    --pico-font-size: 0.6rem;
    --pico-typography-spacing-top: 1rem;
  }
}

ul {
  margin-bottom: 0;
}

.page-break {
  page-break-after: always;
}
